/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import 'background.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

/* custom */

@layer utilities {
	.flex-col-center-center {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.flex-col-start-center {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}

	.flex-col-center-start {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
	}

	.flex-col-start-start {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}

	.flex-col-reverse-center-center {
		display: flex;
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
	}

	.flex-col-reverse-start-center {
		display: flex;
		flex-direction: column-reverse;
		justify-content: flex-start;
		align-items: center;
	}

	.flex-col-reverse-end-center {
		display: flex;
		flex-direction: column-reverse;
		justify-content: flex-end;
		align-items: center;
	}

	.flex-col-between-center {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}

	.flex-row-center-center {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	.flex-row-reverse-center-center {
		display: flex;
		flex-direction: row-reverse;
		justify-content: center;
		align-items: center;
	}

	.flex-row-between-center {
		display: flex !important;
		flex-direction: row !important;
		justify-content: space-between !important;
		align-items: center !important;
	}

	.flex-row-between-start {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
	}

	.flex-row-start-center {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
	}
	.flex-row-center-start {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: flex-start;
	}
	.flex-row-start-start {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: flex-start;
	}

	.size-full {
		width: 100%;
		height: 100%;
	}

	/* text color */
	.text-blue-custom {
		color: #314ee2;
	}

	.text-green-custom {
		color: #2ecc71 !important;
	}

	.text-dark-custom {
		/* gray 800 */
		color: #4b5563;
	}

	.text-gray-custom {
		/* gray 400 */
		color: #9ca3af;
	}

	/*border */
	.border-blue-custom {
		border-color: #314ee2;
	}

	/* text size */
	.text-5xl-custom {
		font-size: 3rem /* 48px */;
		line-height: 1;
		font-weight: 700;
		text-decoration: none;
	}
	.text-4xl-custom {
		font-size: 2.25rem /* 36px */;
		line-height: 2.2rem /* 40px */;
		font-weight: 500;
		text-decoration: none;
	}
	.text-3xl-custom {
		font-size: 1.875rem /* 30px */;
		line-height: 2.25rem /* 36px */;
		font-weight: 700;
		text-decoration: none;
	}
	.text-2xl-custom {
		font-size: 1.5rem /* 24px */;
		line-height: 2rem /* 32px */;
		font-weight: 700;
		text-decoration: none;
	}
	.text-xl-custom {
		font-size: 1.25rem /* 20px */;
		line-height: 1.75rem /* 28px */;
		font-weight: 400;
		text-decoration: none;
	}

	.text-lg-custom {
		font-size: 1.25rem /* 20px */;
		line-height: 1.75rem /* 28px */;
		font-weight: 600;
		text-decoration: none;
	}

	.text-normal-bold-custom {
		font-size: 1rem /* 16px */;
		line-height: 1.6rem /* 24px */;
		font-weight: 300;
		text-decoration: none;
	}
	.text-normal-custom {
		font-size: 1rem /* 16px */;
		line-height: 1.6rem /* 24px */;
		font-weight: 600;
		text-decoration: none;
	}

	.text-sm-custom {
		font-size: 0.875rem /* 14px */;
		line-height: 1.25rem /* 20px */;
		font-weight: 400;
		text-decoration: none;
	}

	.box-yellow {
		background-image: linear-gradient(30deg, #e49b44 40%, #eebb3f);
	}

	.box-blue {
		background-image: repeating-linear-gradient(
				45deg,
				rgba(0, 0, 0, 0.05) 0px,
				rgba(0, 0, 0, 0.05) 2px,
				transparent 2px,
				transparent 4px
			),
			linear-gradient(120deg, #3715d1 40%, #533af7);
	}

	.border-gradient-custom {
		border: 2px solid transparent;
		border-image: linear-gradient(
			94.23deg,
			#5374fa 12.41%,
			#fd9179 52.55%,
			#ff6969 89.95%
		);
		border-image-slice: 1;
	}

	.border-gradient-custom-hover {
		border: 3px solid transparent;
		border-image: linear-gradient(
			94.23deg,
			#5374fa 12.41%,
			#fd9179 52.55%,
			#ff6969 89.95%
		);
		border-image-slice: 2;
	}
	.border-gradient-menu {
		border-bottom: 2px solid transparent;
		border-image: linear-gradient(
			94.23deg,
			#5374fa 12.41%,
			#fd9179 52.55%,
			#ff6969 89.95%
		);
		border-image-slice: 1;
	}

	.background-gradient-custom {
		background-image: linear-gradient(
			94.23deg,
			#5374fa 12.41%,
			#fd9179 52.55%,
			#ff6969 89.95%
		);
	}
}
